<!DOCTYPE html>
<html>

<head>
    <title>Index</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/CSS/style.css">
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">Logo</a>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">ĐIỆN THOẠI</a></li>
                    <li><a href="#">LAPTOP</a></li>
                    <li><a href="#">TABLET</a></li>
                    <li><a href="#">ÂM THANH</a></li>
                    <li><a href="#">ĐỒNG HỒ</a></li>
                    <li><a href="#">PHỤ KIỆN</a></li>
                    <li><a href="#">SIM THẺ</a></li>
                    <li><input type="text" placeholder="Tìm sản phẩm"></li>
                    <li><button class="btn btn-default">Tìm kiếm</button></li>
                </ul>
            </div>
        </div>
    </nav>
</body>

</html>