@model Model_CellphoneStore.CustomerMapped
<p class="shipment-item">
    <span>Địa chỉ nhận hàng</span>
    <a href="#">Thay đổi</a>
</p>
<p class="shipment-item">
    <b class="name">@Model.Name</b>
    <b>@Model.PhoneNumber</b>
</p>
<p class="shipment-detail">@Model.Address</p>
