/* .header-container {
    background: white;
    min-width: 1200px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.table-display {
    display: table;
    box-sizing: border-box;
} */