<!DOCTYPE html>
<html>

<head>
    <title>Index</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/CSS/style.css">
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">Logo</a>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">ĐIỆN THOẠI</a></li>
                <li><a href="#">LAPTOP</a></li>
                <li><a href="#">TABLET</a></li>
                <li><a href="#">ÂM THANH</a></li>
                <li><a href="#">ĐỒNG HỒ</a></li>
                <li><a href="#">PHỤ KIỆN</a></li>
                <li><a href="#">SIM THẺ</a></li>
            </ul>

            <form action="#" class="form-inline mt-2 mt-md-0">
                <input class="form-control mr-sm-2" type="text">
                <button class="btn btn-danger my-2, my-sm-0" type="submit">Tìm kiếm</button>
            </form>
        </div>
    </nav>
</body>

</html>