
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Quên mật khẩu?</h2>
<hr />
<form method="post" action="@Url.Action("ProcessForgotPassword", "User")">
    <div class="form-horizontal" style="margin-left: 50px">
        <div class="form-group">
            Vui lòng cung cấp email dùng đăng ký tài khoản để lấy lại mật khẩu.
        </div>
        <div class="form-group">
            <label class="control-label">Email</label>
            <input class="form-control" type="email" name="Email" placeholder="Nhập email" autofocus required/>
        </div>
        <div class="form-group">
            <input type="submit" value="Xác nhận" class="btn btn-warning" />
        </div>
    </div>
</form>

