
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/CSS/login.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <form>
            <div class="row">
                <h2 style="text-align:center">Đăng Nhập</h2>
                <div class="vl">
                    <span class="vl-innertext">Hoặc</span>
                </div>
                <div class="col">
                    <a href="#" class="fb btn"><i class="fa fa-facebook fa-fw"></i>Đăng nhập bằng Facebook</a>
                    <a href="#" class="twitter btn"><i class="fa fa-twitter fa-fw"></i>Đăng nhập bằng Twitter</a>
                    <a href="#" class="google btn"><i class="fa fa-google fa-fw"></i>Đăng nhập bằng Google+</a>
                </div>
                <div class="col">
                    <div class="hide-md-lg">
                        <p>Hoặc sử dụng tài khoản:</p>
                    </div>
                    <input type="text" name="username" placeholder="Tên đăng nhập" required>
                    <input type="password" name="password" placeholder="Mật khẩu" required>
                    <input type="submit" value="Đăng nhập">
                </div>
            </div>
        </form>
    </div>
    <div class="bottom-container">
        <div class="row">
            <div class="col">
                <a href="#" style="color:white" class="btn">Đăng ký</a>
            </div>
            <div class="col">
                <a href="#" style="color:white" class="btn">Quên mật khẩu?</a>
            </div>
        </div>
    </div>
</body>
</html>
