
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ResetPassword</h2>
<hr />
<form class="form" method="post" action="@Url.Action("ProcessResetPassword", "User")">
    <div class="form-inline">
        <label class="col-sm-2 control-label" for="newPassword">Mật khẩu mới</label>
        <div>
            <input class="form-control" type="password" id="newPassword" name="NewPassword" placeholder="Nhập mật khẩu mới" style="width:300px" autofocus required />
        </div>
    </div>
    <div class="form-inline">
        <label class="col-sm-2 control-label" for="confirmPassword">Nhập lại</label>
        <div>
            <input class="form-control" type="password" id="confirmPassword" placeholder="Nhập lại mật khẩu mới" style="width:300px" autofocus required />
        </div>
    </div>
    <div class="form-inline">
        <label class="col-sm-2 control-label" for="verifyCode">Nhập mã xác thực</label>
        <div>
            <input class="form-control" type="password" id="resetCode" name="ResetCode" placeholder="Nhập mã xác thực" style="width:300px" autofocus required />
        </div>
    </div>
    <div class="form-inline">
        <div class="col-sm-2">

        </div>
        <div>
            <button type="submit" class="btn btn-warning btn-block" id="btnConfirmPass" onclick="ConfirmPassword()" style="width: 150px;">Đặt lại mật khẩu</button>
        </div>
    </div>
</form>


