
@{
    ViewBag.Title = "Employee";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="container-fluid">
    <div class="emp-header">
        <h2>Nhân viên</h2>
    </div>
    <div class="emp-content">
        <div class="emp-table">
            <table class="table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Họ tên</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Số điện thoại</th>
                        <th>Trạng thái</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Bùi Quang Hải</td>
                        <td>bqhai1205</td>
                        <td>bqhai1205@gmail.com</td>
                        <td>0979510945</td>
                        <td>Đang làm việc</td>
                    </tr>
                    <tr>
                        <td>Bùi Quang Hải</td>
                        <td>bqhai1205</td>
                        <td>bqhai1205@gmail.com</td>
                        <td>0979510945</td>
                        <td>Đang làm việc</td>
                    </tr>

                    <tr>
                        <td>Bùi Quang Hải</td>
                        <td>bqhai1205</td>
                        <td>bqhai1205@gmail.com</td>
                        <td>0979510945</td>
                        <td>Đang làm việc</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>  
</div>
