body {
}

.search {
    width: 250px;
    margin-top: 10px;
}

.search-button {
    margin-top: 10px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #222222;
}
.payment{
    display: inline-block;
}
.social-networks {
    display: inline-block;
}