body {
}
.banner-top{
    height: 100px;
    margin-top: 30px;
}
.main {
    margin-top: 50px;
}
.main-left{

}
.main-right{

}
.product-container{
    
}
.product-item{
    height: auto;
    margin-bottom:20px;
    text-align: center;
    float: left;
}

