body {
}
.banner-top{
    height: 100px;
    margin-top: 30px;
}
.main {
    margin-top: 50px;
}
.main-left{

}
.main-left ul{
    list-style: none;
    margin-left: -40px;
}
.main-right{

}
.product-container{
    
}
.list-product{
    margin-top: 15px;
}
.product-item{
    height: 300px;
    width: 185px;
    margin-bottom:20px;
    text-align: center;
    float: left;
}
.filter-price{
    margin-top: 10px;
}
.filter-price-right{
    float: right;
}
.price-container {
    float: left;
}
.price {
    font-size: 22px;
    color: red;
    font-style: oblique
}
.version-container{
    display: inline-block;
}
.version-container .item {
    position: relative;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    text-align: center;
    padding: 5px;
    margin-left: 15px;
    margin-bottom: 15px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    float: left;  
}

.promotion-container {
    border: 1px solid #ff6a00;
    border-radius: 4px;
    padding: 10px 0 0;
    position: relative;
    width: 100%;
    margin: 20px 0;
}
#promotion-header {
    background: #ff6a00;
    border-radius: 13px;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    position: absolute;
    top: -13px;
    left: 10px;
    vertical-align: middle;
    line-height: 26px;
    clear: both;
    padding: 0 15px;
    text-transform: uppercase;
}
.promotion-info{
    padding: 10px 10px 10px;
}
.promotion-info a{
    color: orangered;
}
.techinfo-content table tr{
    display: none;
}
.techinfo-bottom{
    display: flex;
}
#techinfo-expand{
    margin:auto;
}
.pages{
    float: right;
}
.blog-content {
    margin-top: 10px;
    width: 100%;
    height: 500px;
    background-color: black;
}
.checked{
    color: orange;
}
