
@{
    ViewBag.Title = "Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container" style="display: flex">
    <div class="payment-left">
        <div class="payment-delivery">
            <h3>1.Chọn hình thức giao hàng</h3>
            <div>

            </div>
        </div>
    </div>
    <div class="payment-right">

    </div>
</div>

