
@{
    ViewBag.Title = "AllProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="banner-top">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="item active">
                    <div class="col-sm-6">
                        <img src="~/Content/Banner/Product_Banner/595x100iPhone-12-v2.jpg" />
                    </div>
                    <div class="col-sm-6">
                        <img src="~/Content/Banner/Product_Banner/11_pro_max_26.5.jpg" />
                    </div>         
                </div>
                <div class="item">             
                    <div class="col-sm-6">
                        <img src="~/Content/Banner/Product_Banner/Cate_595x100_2.jpg" />
                    </div>
                    <div class="col-sm-6">
                        <img src="~/Content/Banner/Product_Banner/Banner-chung-595x100.jpg" />
                    </div>
                </div>
                <div class="item">
                    <div class="col-sm-6">
                        <img src="~/Content/Banner/Product_Banner/iphone_8_plus_normal_sale_1.10_c.jpg" />
                    </div>
                    <div class="col-sm-6">
                        <img src="~/Content/Banner/Product_Banner/ip_11_26.5.jpg" />
                    </div>                                     
                </div>
                <div class="item">
                    <div class="col-sm-6">
                        <img src="~/Content/Banner/Product_Banner/normal_sale_nokia_24.08.2020.jpg" />
                    </div>
                    <div class="col-sm-6">
                        <img src="~/Content/Banner/Product_Banner/Nokia2.4_Cate_595x100.jpg" />
                    </div>                                   
                </div>
            </div>
        </div>
    </div>
</div>

