@model List<Model_CellphoneStore.BrandMapped>

@foreach (var item in Model)
{
    <a href="@Url.Action("FilterProductVersionByBrand", "Product", new { brandID = item.BrandID })"><input class="btn btn-danger" type="button" value="@item.BrandName" /></a>
}
