
@{
    ViewBag.Title = "ProductDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="title">
        <h3>Tên sản phẩm</h3>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <img src="~/Content/Images/Product/SMPV10000.jpg" width="400" height="400" />
        </div>
        <div class="col-sm-4">
            <div class="form-group form-inline" style="margin-left: 15px">
                <label for="storePlace">Mua hàng từ</label>
                <select class="form-control" id="storePlace" style="margin-left: 74px">
                    <option selected="">Chọn nơi mua hàng</option>
                    <option value="TPHCM">TP.Hồ Chí Minh</option>
                    <option value="ĐN">Đà Nẵng</option>
                    <option value="HN">Hà Nội</option>
                </select>
            </div>
            <div class="price-container">
                <div class="col-sm-9">
                    <p class="price">20000000đ</p>
                    <p>Giá niêm yết: <strike>23000000đ</strike></p>
                </div>
                <div class="col-sm-3">
                    <a href="#"><input class="btn btn-danger" type="button" value="Trả góp 0%" /></a>
                </div>
            </div>
            <div class="version-container">
                @for (int i = 0; i < 9; i++)
                {
                    <div class="item">
                        <a href="#">
                            <span>
                                <b>Bộ nhớ</b>
                                <br />
                                <i>Màu</i>
                                <br />
                                <strong>Giá tiền</strong>
                            </span>
                        </a>
                    </div>

                }
            </div>

            <div class="promotion-container">
                <b id="promotion-header"><i class="fa fa-gift" aria-hidden="true">&nbsp;Khuyến mãi</i></b>
                <div class="promotion-info">
                    <strong>Trả góp 0%:</strong>
                    <br />
                    <a href="#">Trả góp lãi suất 0% với Home Credit. Trả trước 50%, kỳ hạn 8 tháng (Áp dụng trên GIÁ NIÊM YẾT, không áp dụng cùng các khuyến mại khác)</a>
                    <br />
                    <strong>Chương trình khuyến mại:</strong>
                    <br />
                    <a href="#">[HOT] Thu cũ lên đời giá cao - Thủ tục nhanh - Trợ giá thêm tới 1 triệu</a>
                </div>
            </div>
            <div>
                <input class="btn btn-primary" type="button" value="Mua ngay" />
                <input class="btn btn-success" type="button" value="Thêm vào giỏ hàng" />
            </div>
        </div>
        <div class="col-sm-4">
            <div class="techinfo-header">
                <h3 style="text-align: center">Thông số kĩ thuật</h3>
            </div>
            <div class="techinfo-content">
                <table class="table">
                    <tbody>
                        <tr style="display: table-row">
                            <td>Hãng sản xuất</td>
                            <td>NA</td>
                        </tr>
                        <tr style="display: table-row">
                            <td>Kích thước</td>
                            <td>NA</td>
                        </tr>
                        <tr style="display: table-row">
                            <td>Trọng lượng</td>
                            <td>NA</td>
                        </tr>
                        <tr style="display: table-row">
                            <td>RAM</td>
                            <td>NA</td>
                        </tr>
                        <tr style="display: table-row">
                            <td>ROM</td>
                            <td>NA</td>
                        </tr>
                        <tr style="display: table-row">
                            <td>RAM</td>
                            <td>NA</td>
                        </tr>
                        <tr style="display: table-row">
                            <td>Loại SIM</td>
                            <td>NA</td>
                        </tr>
                        <tr style="display: table-row">
                            <td>Loại màn hình</td>
                            <td>NA</td>
                        </tr>
                        <tr style="display: table-row">
                            <td>Kích thước màn hình</td>
                            <td>NA</td>
                        </tr>
                        <tr style="display: table-row">
                            <td>Độ phân giải</td>
                            <td>NA</td>
                        </tr>
                        <tr style="display: table-row">
                            <td>Hệ điều hành</td>
                            <td>NA</td>
                        </tr>
                        <tr>
                            <td>Chipset</td>
                            <td>NA</td>
                        </tr>
                        <tr>
                            <td>CPU</td>
                            <td>NA</td>
                        </tr>
                        <tr>
                            <td>GPU</td>
                            <td>NA</td>
                        </tr>
                        <tr>
                            <td>Khe cắm thẻ nhớ</td>
                            <td>NA</td>
                        </tr>
                        <tr>
                            <td>Camera sau</td>
                            <td>NA</td>
                        </tr>
                        <tr>
                            <td>Camera trước</td>
                            <td>NA</td>
                        </tr>
                        <tr>
                            <td>WLAN</td>
                            <td>NA</td>
                        </tr>
                        <tr>
                            <td>Bluetooth</td>
                            <td>NA</td>
                        </tr>
                        <tr>
                            <td>GPS</td>
                            <td>NA</td>
                        </tr>
                        <tr>
                            <td>NFC</td>
                            <td>NA</td>
                        </tr>
                        <tr>
                            <td>USB</td>
                            <td>NA</td>
                        </tr>
                        <tr>
                            <td>Cảm biến</td>
                            <td>NA</td>
                        </tr>
                        <tr>
                            <td>Pin</td>
                            <td>NA</td>
                        </tr>
                    </tbody>
                </table>
                <button id="techinfo-expand" class="btn btn-danger" style="align-self: center" onclick="expandTechInfo()">Xem thêm</button>
            </div>
        </div>
        <div class="review">

        </div>
    </div>
</div>


